.catalog__more-title {
  color: $add-gray;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.catalog__text {
  font-family: $arial;
  color: $special-gray-dark;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}
