.catalog-more {
  position: relative;
  color: $add-gray;
  font-weight: inherit;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding: 76px 20px 5px 20px;
  margin: 0 auto;

  &::before {
    @include pseudo;
    content: url("../img/plus.svg");
    width: 30px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet) {
      width: 60px;
      height: 60px;
      top: 50px;
    }
  }

  @media (min-width: $tablet) {
    background-color: $basic-white;
    border: 2px solid $basic-gray;
    width: 240px;
    padding: 157px 40px 22px 40px;
  }

  @media (min-width: $desktop) {
    width: 165px;
  }
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}

.catalog-more__text {
  font-family: $arial;
  color: $special-gray-dark;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  margin: 0;
  padding: 8px 0 5px 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 50px;
    padding: 23px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 44px;
  }
}

.catalog-more__button {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    align-self: flex-end;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 16px;
    padding: 10px 0;
  }

  @media (min-width: $desktop) {
    margin: 3px 0 20px;
  }
}
