.catalog__title {
  padding: 24px 0;

  @media (min-width: $tablet) {
    padding: 58px 0;
  }
}

.catalog__wrapper {
  margin: 15px auto 0 auto;

  @media (min-width: $tablet) {
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog__list {
  @include list-style;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 90px;
  }

  @media (min-width: $desktop) {
    padding-top: 112px;
  }
}

.catalog__item {
  position: relative;
  border-bottom: 1px $add-gray-dark solid;

  &:first-of-type {
    border-top: 1px $add-gray-dark solid;

    @media (min-width: $tablet) {
      border: none;
    }
  }

  @media (min-width: $tablet) {
    border: none;
    margin-bottom: 140px;
    height: min-content;
  }

  &:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    &:nth-last-of-type(-n+4) {
      margin-bottom: 0;
    }
  }
}
