.comment {
  @include fieldset;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
  }
}

.comment__subtitle {
  margin-bottom: 28px;
}

.comment__input {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-gray-dark;
  border: 1px $special-gray-light solid;
  padding: 10px 16px;
  flex-grow: 1;
  height: 130px;
  width: 247px;
  margin-top: 23px;
  margin-bottom: 8px;
  resize: none;

  &::placeholder {
    color: $special-gray-dark;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    height: 150px;
    margin-top: 55px;
  }

  @media (min-width: $desktop) {
    width: 1120px;
  }
}
