.comment {
  @include fieldset;
}

.comment__subtitle {
  margin-bottom: 28px;
}

.comment__input {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-gray-dark;
  border: 1px $special-gray-light solid;
  padding: 13px 16px;
  flex-grow: 1;
  height: 150px;
  width: 280px;

  &::placeholder {
    color: $special-gray-dark;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 631px;
  }

  @media (min-width: $desktop) {
    width: 1120px;
  }
}
