.cooperation {
  padding: 28px 20px;
}

.cooperation__message {
  text-transform: uppercase;
  color: $add-gray;
  font-size: 16px;
  line-height: 18px;
}

.cooperation__address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special-gray-dark;
}
