.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 15px;
}

.form__subtitle {
  margin: 10px 0;

  @media (min-width: $tablet) {
    margin: 15px 0;
  }

  @media (min-width: $desktop) {
    margin: 23px 0;
  }

  .subtitle__text {
    @media (min-width: $tablet) {
      padding: 0;
      padding-right: 23px;

      &::before {
        display: block;
      }
    }
  }
}

.form__two-column {
  @media (min-width: $desktop) {
    display: flex;
    margin: 0 auto;
    width: 1220px;
    padding: 0 110px;
  }
}

.form__cat-info {
  @include fieldset;
  padding-bottom: 8px;

  @media (min-width: $desktop) {
    .wrapper {
      padding: 0;
    }

    flex-basis: 570px;
    flex-grow: 1;
    margin-right: 40px;
  }
}

.form__point {
  @include fieldset;
  border-top: 1px solid $add-gray-line;
  border-bottom: 1px solid $add-gray-line;

  @media (min-width: $tablet) {
    border: none;
    margin: 46px 0;
  }

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    .wrapper {
      padding: 0;
    }

    flex-basis: 570px;
    flex-grow: 1;
    margin-left: 40px;
  }
}

.form__cat-info,
.form__point {
  .wrapper {
    width: auto;
  }
}

.form__point-list {
  @include list-style;
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  @media (min-width: $tablet) {
    border: 1px solid $add-gray-line;
    padding: 15px 25px;
  }

  @media (min-width: $desktop) {
    padding: 23px 25px;
  }
}

.form__contacts {
  margin-top: 27px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    margin: 75px auto 34px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    max-width: $desktop;
    margin: 75px auto;


    label {
      @media (min-width: $desktop) {
        flex-grow: 1;

        &:nth-of-type(odd) {
          margin-right: 100px;
        }
      }
    }
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet) {
    flex-direction: row;
    width: $tablet;
    align-items: center;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    width: $desktop;
  }
}

.form__button {
  width: 280px;

  @media (min-width: $desktop) {
    width: 39.5%;
  }
}

.form__note {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 15px 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    padding: 0 80px;
  }
}
