.gift {
  background-image: url("../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  color: $basic-white;
  padding: 40px 60px;
}

.gift__title {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
