.how-it-works__list {
  @include list-style;
  @include arial;
  font-size: 14px;
  line-height: 18px;
  color: $special-gray-dark;
  margin: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.how-it-works__item {
  @media (min-width: $tablet) {
    flex-basis: 230px;
    margin-right: 140px;
  }

  @media (min-width: $desktop) {
    margin-right: 40px;
  }
}
