.how-it-works {
  padding: 14px 0;

  @media (min-width: $desktop) {
    padding-bottom: 0;
  }
}

.how-it-works__title {
  margin-top: 2px;
  margin-bottom: 26px;
}

.how-it-works__list {
  @include list-style;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $special-gray-dark;
  display: flex;
  flex-direction: column;
  counter-reset: How-it-worksCounter;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 29px 0 0 0;
  }
}

.how-it-works__item {
  padding: 15px 0 11px 80px;
  position: relative;

  @media (min-width: $tablet) {
    flex-basis: 250px;
    min-height: 190px;
    font-size: 16px;
    line-height: 24px;
    padding: 127px 0 0 0;
    margin-right: 74px;
  }

  @media (min-width: $desktop) {
    margin-right: 10px;
  }

  &::before {
    @include pseudo;
    width: 60px;
    height: 60px;
    top: 12px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      top: 16px;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      @include pseudo;
      font-family: "Oswald", "Arial", sans-serif;
      counter-increment: How-it-worksCounter;
      content: counter(How-it-worksCounter);
      z-index: -1;
      text-align: center;
      min-width: 136px;
      font-size: 281px;
      line-height: 235px;
      color: $basic-gray;
      top: 0;
      left: 45%;
    }
  }
}

.how-it-works__item--benefit.how-it-works__item {
  &::before {
    background-image: url("../img/leaf.svg");
  }
}

.how-it-works__item--form.how-it-works__item {
  &::before {
    background-image: url("../img/tub.svg");
  }
}

.how-it-works__item--how.how-it-works__item {
  &::before {
    background-image: url("../img/eat.svg");
  }
}

.how-it-works__item--after.how-it-works__item {
  &::before {
    background-image: url("../img/alarm.svg");
  }
}
