.input-text {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special-gray-dark;
  display: flex;
  align-items: center;
  padding-bottom: 14px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  span {
    padding-right: 15px;
  }

  input {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    border: 1px $special-gray-light solid;
    color: $special-gray-dark;
    padding: 12.5px 16px;
    flex-grow: 1;

    &::placeholder {
      color: $special-gray-dark;
    }

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
