.intro {
  background-image: url("../img/intro-background-mobile.jpg");
  background-color: opacify($basic-green, 0.85);
  background-repeat: no-repeat;
  background-position: top center;
  color: $basic-white;
  text-align: center;
}

.intro__slogan {
  @include Oswald;
  font-size: 14px;
  line-height: 14px;
}
