.main-footer {
  background-color: $basic-gray;
  padding: 5px 0;

  @media (min-width: $tablet) {
    padding: 31px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__social-list {
  border-top: 1px solid $add-gray-line;
  border-bottom: 1px solid $add-gray-line;

  @media (min-width: $tablet) {
    border-top: 0;
    border-bottom: 0;
  }
}

.main-footer__logo {
  align-self: center;
  padding: 29px 0;
}

.main-footer__logo svg {
  fill: $basic-black;
  width: 128px;

  &:hover {
    fill: transparentize($basic-black, 0.2);
  }

  &:active {
    fill: transparentize($basic-black, 0.4);
  }
}

.main-footer__copyright {
  font-family: $arial;
  color: $special-gray-dark;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 0;
  display: flex;
  justify-content: space-between;

  span {
    align-self: center;

    @media (min-width: $tablet) {
      margin-right: 20px;
    }
  }

  svg {
    fill: $special-gray-middle;
  }

  &:hover {
    svg {
      fill: $basic-green;
    }
  }

  &:active {
    svg {
      fill: transparentize($basic-green, 0.7);
    }

    span {
      color: transparentize($special-gray-dark, 0.7);
    }
  }
}
