.main-footer {
  background-color: $basic-gray;
}

.main-footer__logo svg {
  fill: $basic-black;

  &:hover {
    fill: transparentize($basic-black, 0.2);
  }

  &:active {
    fill: transparentize($basic-black, 0.4);
  }
}

.main-footer__copyright {
  @include Arial;
  color: $special-gray-dark;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.main-footer__copyright svg {
  fill: $special-gray-middle;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: transparentize($basic-green, 0.7);
  }
}
