.main-nav__list {
  @include list-style;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 18px;
    flex-direction: row;
    text-align: right;
    align-content: space-between;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
  }
}

.main-nav__list-item {
  border-top: 1px solid $add-gray-light;

  @media (min-width: $tablet) {
    border-top: 0;
    margin-left: 35px;
  }

  a {
    text-decoration: none;
    color: $basic-black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__list--desktop-white {
  @media (min-width: $desktop) {
    a {
      color: $basic-white;
    }
  }

  .main-nav__list-item--active {
    @media (min-width: $desktop) {
      &::after {
        background-color: $basic-white;
      }
    }
  }
}

.main-nav__burger {
  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list-item--active {
  @media (min-width: $tablet) {
    position: relative;

    &::after {
      @include pseudo;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
      background-position: center;
      top: 120%;
    }
  }
}
