.selection__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.selection__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__wrapper {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 0 67px;
  }
}

.selection__fieldset {
  border: none;
  margin: 0;
  padding: 20px 0;

  &:last-of-type {
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    flex-basis: 100%;
  }
}

.selection__note {
  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 15px 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    padding: 0 80px;
  }
}

.selection__subtitle {
  margin-bottom: 28px;
}

.selection__button-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet) {
    flex-direction: row;
    width: 630px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.selection__button {
  width: 280px;

  @media (min-width: $desktop) {
    flex-basis: 50%;
  }
}

.selection__cat-info {
  @media (min-width: $desktop) {
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.selection__point {
  @media (min-width: $desktop) {
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.selection__contacts {
  @media (min-width: $desktop) {
    display: flex;
    grid-gap: 80px;

    label {
      flex-grow: 1;
    }
  }
}
