.selection__description {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.selection__fieldset {
  border: none;
  border-bottom: 1px $special-gray-light solid;

  &:last-of-type {
    border-bottom: none;
  }
}

.selection__note {
  @include arial;
  font-size: 14px;
  line-height: 16px;
}
