.social-list {
  @include list-style;
  display: flex;
  align-self: center;
  padding: 17px 0;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    width: auto;
    padding: 0;
  }

  svg {
    fill: $special-gray-middle;

    &:hover {
      fill: $basic-green;
    }

    &:active {
      fill: transparentize($basic-green, 0.7);
    }

    @media (min-width: $tablet) {
      width: 150%;
      height: auto;
    }
  }
}

.social-list__item {
  padding: 0 17px;
  margin-top: 3px;
}
