.statistic__item {
  border: 1px solid $special-gray-light;
  text-align: center;
}

.statistic__number {
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
}

.statistic__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}
