.was-became {
  color: $basic-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.was-became__photo {
  background-image: url("../img/before-mobile.png");
  width: 311px;
  height: 232px;
}

.was-became__control {
  display: flex;
}

.was-became__was {
  text-align: left;
}

.was-became__became {
  text-align: right;
}
