.wrapper {
  max-width: $mobile;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop;
    padding: 0 110px;
  }

  &--thin-tablet {
    @media (min-width: $tablet) and (max-width: $tablet-only) {
      max-width: $tablet;
      padding: 0 67px;
    }
  }
}
